{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    {# Translators: Email subject line #}
    <title>{% trans "Password Reset" %}</title>
  </head>
  <body>
    {# Translators: Email greeting. username is the variable for the user's
    username. #}
    <p>
      {% blocktrans with username=username %}Hello {{ username }},{%
      endblocktrans %}
    </p>

    {# Translators: Email body text confirming password reset request. site_name
    is the platform name. #}
    <p>
      {% blocktrans with site_name=site_name %}You requested a password reset
      for your account on {{ site_name }}.{% endblocktrans %}
    </p>

    {# Translators: Email body text explaining the reset link. #}
    <p>{% trans "Please click the link below to set a new password:" %}</p>
    <p><a href="{{ reset_link }}">{% trans "Reset Password" %}</a></p>
    {# Translators: Text on the reset password link/button #} {# Translators:
    Email body text for users who didn't request a reset. #}
    <p>{% trans "If you didn't request this, please ignore this email." %}</p>

    {# Translators: Email closing. site_name is the platform name. #}
    <p>
      {% trans "Thanks," %}<br />{% blocktrans with site_name=site_name %}The {{
      site_name }} Team{% endblocktrans %}
    </p>
  </body>
</html>
