{% extends "emails/base_email.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset OTP" %}{% endblock %}

{% block preheader %}{% trans "Your One-Time Password for password reset." %}{% endblock %}

{% block header_text %}{% trans "Password Reset OTP" %}{% endblock %}

{% block email_content %}
    <p style="color: #201C2E;">{% blocktrans with full_name=full_name %}Hello {{ full_name }},{% endblocktrans %}</p>

    <p style="color: #201C2E;">{% blocktrans with site_name=site_name|default:"Qader" %}You requested a password reset for your account on {{ site_name }}.{% endblocktrans %}</p>

    <p style="color: #201C2E;">{% trans "Your One-Time Password (OTP) is:" %}</p>
    <div class="otp-code" style="font-size: 24px; font-weight: bold; letter-spacing: 3px; color: #2E294E; padding: 10px; background-color: #F8F9FA; border: 1px dashed #ECEBEE; border-radius: 8px; text-align: center; margin: 20px 0;">
        {{ otp_code }}
    </div>

    <p style="color: #201C2E;">{% blocktrans with expiry_minutes=otp_expiry_minutes %}This OTP is valid for {{ expiry_minutes }} minutes.{% endblocktrans %}</p>
    <p style="color: #201C2E;">{% trans "Please use this OTP to complete your password reset process." %}</p>

    <p style="margin-top: 20px; color: #8C879B; font-size: 14px;">{% trans "If you didn't request this, please ignore this email." %}</p>
{% endblock %}